* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eafdff;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.container .loader {
  position: relative;
  width: 150px;
  height: 150px;
  margin: 100px;
}

/* span主要被用来组合文档中的行内元素。. span 没有固定的格式表现 */
.container .loader.one span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: block;
  background-color: #5989ff;
  animation: animate ease-in-out 2s infinite;
}

.container .loader.one span:nth-child(2) {
  left: 50%;
  backdrop-filter: blur(10px);
  /* 值越低越透明 */
  background-color: rgba(56, 109, 241, 0.05);
  border: 1px solid rgba(255, 255, 255, .1);
  animation-delay: -1s;
  /* 延时 */
}

@keyframes animate {

  0%,
  100% {
    transform: translate(-80px);
  }

  50% {
    transform: translate(80px);
  }
}

/* ADD Shadow */
.container .loader.one span::before,
.container .loader.two span:nth-child(1)::before {
  content: '';
  position: absolute;
  bottom: -100%;
  left: -20px;
  width: 140px;
  height: 40px;
  border-radius: 50%;
  /* 径向渐变 */
  background: radial-gradient(rgba(0, 0, 0, 0.04), transparent, transparent);
}

.container .loader.two {
  position: relative;
  width: 180px;
  height: 180px;
}

.container .loader.two span:nth-child(1) {
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  background-color: rgba(233, 30, 99, 0.05);
  border-radius: 50%;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, .1);
  z-index: 2;
}

.container .loader.two span:nth-child(2) {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
  z-index: 1;
  overflow: hidden;
  animation: animateTwo 1s linear infinite;
}

@keyframes animateTwo {
  0% {
    transform: rotate(0deg)
  }

  100% {
    transform: rotate(360deg)
  }
}

.container .loader.two span:nth-child(2)::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 100%;
  height: 100%;
  background-color: hotpink;
}